.main {
    position: relative;
    height: max-content;
    width: min(800px, 90%);
    background-color: #303030c8;
    color: white;
    border-radius: 25px;
    margin: 0 auto;
    top: -20vh;
    text-align: center;
    padding: 1px 5px;
    box-shadow: 0 12px 30px #000000c8;
}

.main-img{
    width: 100%;
    height: 24rem;
    overflow: hidden;
}

.main-img img {
    height: 100%;
    width: 110%;
    object-fit: cover;
}